@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(90deg, #FAA0DC, #CC8AE3, #AA87FA, #8390E6, #91CFFF);
    background-size: 500%;
    animation: gradient 10s ease-in-out infinite;
    animation-direction: alternate;
}

#container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title{
    color: #33132D;
    font-size: 100px;
    text-shadow: rgb(48, 45, 45) 2px 2px 5px;
    padding: 10px;
}

#title-span{
    font-weight: bold;
    color: rgb(226, 66, 199)
}

#label{
    margin-top: 1rem;
    font-size: 20px;
}

#input, #button{
    height: 50px;
    width: 300px;
    left: 250px;
}

#input, #result{
    background: #5c2151;
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

#input, #button, #result{
    margin-top: 1rem;
    border-radius: 5px;
    border: 3px solid #33132D;
}

#input{
    font-size: 16px;
    letter-spacing: 1px;
    transition: .2s ease-in;
}

#input:focus{
    background: #31222e;
    border: 4px solid #201b1f;
    transition: .2s ease-in;
}

#input:focus, #button:focus{
    outline: none;
}

#button{
    background: #201b1f;
    color: white; 
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: .2s ease-in;
}

#button:hover{
    background: #5e2954;
    transition: .2s ease-in;
}

#result{
    height: 100px;
    width: 500px;
    font-size: 38px;
    transition: .5s ease-in;
}

@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    100%{
        background-position: 100% 50%;
    }
}