*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background: linear-gradient(90deg, #FAA0DC, #CC8AE3, #AA87FA, #8390E6, #91CFFF);
    background-size: 500%;
    animation: gradient 10s ease-in-out infinite;
    animation-direction: alternate;
}

#container{
    height: 600px;
    width: 800px;
    position: relative;
    margin: 0 auto;
    margin-top: 60px;
}

#title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #33132D;
    font-size: 100px;
    top: 40px;
    left: 205px;
    text-shadow: rgb(48, 45, 45) 4px 4px 10px;
    padding: 10px;
}

#title-span{
    font-weight: bold;
    color: rgb(226, 66, 199)
}

#label{
    font-size: 20px;
    top: 200px;
    left: 170px;
}

#title, #input, #button, #label, #result{
    position: absolute;
}

#input, #button{
    height: 50px;
    width: 300px;
    left: 250px;
}

#input, #result{
    background: #5c2151;
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

#input, #button, #result{
    border-radius: 5px;
    border: 3px solid #33132D;
}

#input{
    font-size: 20px;
    top: 250px;
    transition: .2s ease-in;
}

#input:focus{
    background: #31222e;
    border: 4px solid #201b1f;
    transition: .2s ease-in;
}

#input:focus, #button:focus{
    outline: none;
}

#button{
    background: #201b1f;
    color: white; 
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    top: 310px;
    cursor: pointer;
    transition: .2s ease-in;
}

#button:hover{
    background: #5e2954;
    transition: .2s ease-in;
}

#result{
    height: 100px;
    width: 500px;
    font-size: 38px;
    top: 400px;
    left: 150px;
    transition: .5s ease-in;
}

@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    100%{
        background-position: 100% 50%;
    }
}